@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,700);
* {
  box-sizing: border-box;
  transition: all 0.5s ease;
}

body {
  text-align: center;
  word-wrap: normal;
  background: #fff;
  color: #333;
  font-family: "Raleway",Calibri,Arial,sans-serif;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 72.8px;
  margin: 50px 0 0 0;
}

h2 {
  font-size: 26px;
  font-weight: 500;
  line-height: 72.8px;
  margin: 1px 0 0 0;
}

.container {
  margin: 2px 0 20px 0;
  text-align: center;
  display: block;
}

.post {
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  transition: color .25s ease;
  border-radius: .3em;
  border: 1px solid gainsboro;
  float: left;
  color: #A5A5A5;
  box-shadow: 0 2px 4px #e6e6e6;
  background: #f6f6f6;
}
.post:hover {
  color: #E2556C;
  border-color: #A5A5A5;
}

img {
  width: 100%;
  max-width: 100%;
  border-radius: 3px;
}

#wrapper {
  width: 95%;
  max-width: 1400px;
  min-width: 400px;
  margin: 50px auto;
}

#instafeed {
  column-count: 3;
  column-gap: 15px;
  column-fill: auto;
}

#instafeed a {
    margin: auto;
}

.post {
  display: inline-block;
  margin: 0 2px 15px;
  column-break-inside: avoid;
  opacity: 1;
  transition: all .2s ease;
}

.post p {
  font: 12px/18px Arial, sans-serif;
  color: #333;
  margin: 0;
}

@media (max-width: 480px) {
  #instafeed {
    column-count: 1;
  }
}
@media (max-width: 780px) {
  #instafeed {
    column-count: 2;
  }
}
@media (min-width: 960px) {
  #instafeed {
    column-count: 4;
  }
}
@media (min-width: 1100px) {
  #instafeed {
    column-count: 5;
  }
}
