body {
    background: #b4a497;
}

.head    {
    width: 100%;
    text-align: center;
}

.headline img {
    width: 20%;
}

.textarea {
    text-align: center;
    font-size: 30px;
/*    font-family: 'Pacifico', cursive;*/
    font-family: 'Gloria Hallelujah', cursive;
    color: #fff;
}